@model IQueryable<Contact>

<h2>Список пользовательских сообщений</h2>
<p> d</p>
<h1>Список пользовательских сообщений</h1>
 @foreach (Contact entity in Model)
 {
     <p>Email</p>
     <h4>@entity.Email</h4>
     <p>FullName</p>
     <h4>@entity.FullName</h4>
     <p>PhoneNumber</p>
     <h4>@entity.PhoneNumber</h4>
     <p>TextMessage</p>
     <h4>@entity.TextMessage</h4>
      <form method="post" asp-controller="Contacts" asp-action="ContactDelete" style="margin-bottom: 20px">
        <input type="hidden" name="Id" value="@entity.Id" />
        <input type="submit" value="удалить" />
    </form>
 }