@model IQueryable<Article>
<h2 style="margin-top: 64px ">Панель Новостей</h2>



<div class="text-center">
<div>
    <a asp-controller="News" asp-action="NewsEdit">Новая статья</a>
</div>
    @foreach (Article entity in Model)
    {
        <div>
            <a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="@entity.Id">
            <h4>@entity.Title</h4>
             </a>
                    <a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/@entity.TitleImagePath" alt="" class="left" />
                    </a>
                    
            |
            <a asp-controller="News" asp-action="NewsEdit" asp-route-id="@entity.Id">редактировать</a>
            |
            <form method="post" asp-controller="News" asp-action="NewsDelete">
                <input type="hidden" name="Id" value="@entity.Id"/>
                <input type="submit" value="удалить"/>
            </form>
        </div>
    }
</div>

