@model IEnumerable<Web_application_of_students_squad_SFEDU.Models.User>

<section class="profile_section">
    <div class="profile_info">
        
        @foreach (User user in Model)
        {
        if (user.Email == User.Identity.Name)
        {
        <p style="color: red; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Личный кабинет</b></p>
        <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Логин: @User.Identity.Name</b></p>
        <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Фамилия: @user.Surname</b></p>
        <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Имя: @user.Name</b></p>
        <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Отчество: @user.Patronymic</b></p>
        <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Дата рождения: @user.BirthDate</b></p>
        <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Направление отряда: @user.DirectionOfSquad</b></p>
        <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Факультет: @user.Department</b></p>
        <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Курс: @user.Course</b></p>
        <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Группа: @user.Group</b></p>
        <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Бюджет/Коммерция: @user.Money</b></p>
        <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Ссылка VK: @user.VK</b></p>


        <p> <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить персональные данные</a></p>
        <p> <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a></p>



        @* if (user.EmailConfirmed)
            {
            <p style="color: red; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Эта страница ещё не доработана</b></p>
            <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px"><b>Ваш логин: @User.Identity.Name</b></p>

            <p> <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить персональные данные</a></p>
            <p> <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a></p>
            }
            else
            {
            <p style="color: black; font-family: 'AmaticSC-Bold'; font-size: 35px">Для завершения регистрации проверьте электронную почту и перейдите по ссылке, указанной в письме</p>
            }*@
        }
        }
        <form method="post" asp-controller="Home" asp-action="Logout">
            <input type="submit" value="Выход" />
        </form>
    </div>
</section>